@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ReactFlow base styles */
.react-flow {
  background-color: #f8f9fa;
}

.react-flow__node {
  cursor: grab;
  width: auto !important;
  height: auto !important;
}

.react-flow__node:active {
  cursor: grabbing;
}

.react-flow__node > div {
  width: 100%;
  height: 100%;
}

.react-flow__edge {
  cursor: pointer;
}
